<div class="words" *ngIf="words$ | async as words; else spinner">
  <mat-toolbar>
    <mat-toolbar-row class="words-header">
      <div class="dictionary-header-info">
        Words
      </div>
  
      <button mat-icon-button
              class="sidebar-button"
              (click)="addWord()">
        <mat-icon>library_add</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-list class="word-list">
    <ng-container *ngFor="let word of words">
      <mat-list-item role="listitem">
        <mat-icon class="word-list-item-icon" (click)="deleteWord(word)">
          remove_circle
        </mat-icon>

        <div class="word">
          <div class="word-list-item-value">{{ word.word }}</div>
          <div class="word-list-item-translation">{{ word.translation }}</div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
