:host {
  flex: 1;
  display: flex;
  padding: 10px;
  overflow: auto;
  border-radius: 3px;
  flex-direction: column;
  height: calc(100vh - 124px);
  background-color: white;

  .spinner {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}