<div class="dictionary" *ngIf="dictionary$ | async as dictionary; else spinner">
  <mat-toolbar>
    <mat-toolbar-row class="dictionary-header">
      <div class="dictionary-header-info">
        {{ dictionary.name }}
        <img mat-card-avatar
           *ngIf="dictionary.avatarUrl"
           [src]="dictionary.avatarUrl"
           class="dictionary-header-avatar">
      </div>
  
      <div class="dictionary-actions">
        <button mat-icon-button
                class="sidebar-button"
                (click)="onEdit(dictionary)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                class="sidebar-button"
                (click)="onDelete(dictionary?._id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="dictionary-content">
    <mat-list class="dictionary-words">
      <ng-container *ngFor="let word of dictionary?.words">
        <mat-list-item role="listitem">
          <mat-icon class="word-icon" (click)="deleteWordFromDictionary(dictionary?._id, word)">
            remove_circle
          </mat-icon>
  
          <div class="word">
            <div class="word-value">{{ word.word }}</div>
            <div class="word-translation">{{ word.translation }}</div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  
    <mat-divider [vertical]="true"></mat-divider>
  
    <mat-list class="available-words">
      <ng-container *ngFor="let word of (words$ | async)">
        <mat-list-item role="listitem">
          <div class="word">
            <div class="word-value">{{ word.word }}</div>
            <div class="word-translation">{{ word.translation }}</div>
          </div>
          
          <mat-icon class="word-icon" (click)="addWordInDictionary(dictionary?._id, word)">
            add_circle
          </mat-icon>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
